page-login {
  h1 {
    text-align: center;
    text-decoration-style: bold;
    font-size: 12vw;
    width: 100%;
    color: #000000;
  }

  form {
    margin-bottom: 20px;

    button {
      margin-top: 20px !important;
    }

    p {
      font-style: italic;
      color: red;
    }
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }
}
